In [1]:
#OLD MACDONALD : write a functionthat capitalize the first and forth letter of a name

In [7]:
def old_macdonald(name):
    
        firstletter = name[0]
        sndpart= name[1:3]
        fourthletter = name[3]
        lastpart = name[4:]
        return firstletter.upper() + sndpart +fourthletter.upper() +lastpart

In [8]:
old_macdonald('sidra')

'SidRa'

In [9]:
#capitalize method

In [12]:
def mac_donald(name):
    
    firsthalf = name[0:3]
    secondhalf = name[3:]
    
    return firsthalf.capitalize() + secondhalf.capitalize()

In [13]:
mac_donald('sidra')

'SidRa'

In [14]:
#MASTER YODA: given a sentence, return a sentence with words reversed

In [17]:
def master_yoda(text):
    reverse_text = text[::-1]
    return reverse_text

In [18]:
master_yoda('i am here')

'ereh ma i'

In [30]:
def master_yodaa(text):
    split_list = text.split()
    revers_split_list = split_list[::-1]
    return ' '.join(revers_split_list)

In [31]:
master_yodaa('i am here')

'here am i'

master_yodaa('sidra')

In [32]:
master_yodaa('sidra')

'sidra'

In [33]:
#to reverse a single word we dont have to split the list 
#but for a sentence we have to split then reverse it

In [34]:
#two new fucntion that are .capitalize() and " ".join

In [35]:
#ther difference between n and 100 or 200 is less than 10 
#ALMOST THERE given int n ,return True if n is withing 10 if either 100 or 200

In [38]:
def almost_there(num):
    return (abs(100-num) <= 10) or (abs(200-num) <= 10)

In [39]:
almost_there(88)

False

In [ ]:
#abs value function