In [1]:
#write a function that compute the volume of a sphere given its radius

In [4]:
def volum(rad):
    
    return (4/3)* (3.14) * (rad**3)

In [5]:
volum(60)

904320.0

In [6]:
volum(6)

904.3199999999999

In [7]:
#write a func that check wether the number is in given range(inclusive of high n low)

In [26]:
def check_range(num,low,high):
    if num in range(low,high+1):
        print ('number is in range')
    else :
        print ('number not in range')

In [27]:
check_range(4,0,10)

TypeError: 'tuple' object is not callable

In [24]:
def check_num(num,low,high):
    if num in range(low,high+1):
        print ('num in range')
    else:
        print('num not in range')

In [25]:
check_num(4,0,10)

TypeError: 'tuple' object is not callable

In [28]:
# function accepts string 
#calculate no of upper n lowercase letter

In [49]:
def up_lowr(text):
    upercase:0
    lowercase:0
    for char in text :
        if char.isupper(): 
            uppercase += 1 
            
        elif char.islower():
            lowercase += 1
        else:
            pass
    
    print (f'string is {text}')
    print (f'there are {upercase} letters in string')
    print (f'there are {lowercase} letters in string')

In [50]:
mystring = ('hello')

In [51]:
up_lowr(mystring)

UnboundLocalError: local variable 'lowercase' referenced before assignment

In [52]:
#function 
#takes a list return list of unique elements

In [53]:
sample = [11,3,4,2,11,5,5,5,3,2,6]

In [56]:
def check_unique(exm):
    unique_list = []
    for num in exm:
        if num not in unique_list:
            unique_list.append(num)
    return unique_list

In [57]:
check_unique(sample)

[11, 3, 4, 2, 5, 6]

In [64]:
listy = [1,2,3]

In [65]:
#functio to multiply all numin list

In [71]:
def func_mul(l):
    result = 1
    for num in l:
        result = result * num
    return result

In [72]:
func_mul([1,2,3])

6

In [73]:
func_mul(listy)

6

In [74]:
#fuction for word or phrase
#if palindrome or not
#for phrase need to remove spaces before hand 
#for that use .replace() method

In [92]:
def palindrome(text):
    text= text.replace(' ','') #remover string of space with empty string
    
          
    return  text == text[::-1]

In [93]:
palindrome('kayak')

True

In [94]:
# funtion if pangram or not (have all letter of alphabet)
# for a string

In [95]:
import string
def ispangram(strng, alphabet=string.ascii_lowercase):
    
    # creat refrence value 
    abplabet_set = set(alphabet)
    #remove spaces
    strng = strng.replace(' ','')
    #conver to lower case 
    strng = strng.lower()
    #get unique letter
    strng = set(strng)
    #compare
    return strng == abplabet_set

In [96]:
ispangram('the quick brown fox jumps over the lazy dog')

True

In [97]:
ispangram('Relaxing in basins at the end of inlets terminates the endless tests from the box')

False